@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: #909090;
}
ul li {
  list-style: none;
}

main {
  padding: 2rem 3rem;
  margin: 0 auto;
}

.page-heading {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: overline;
  margin: 2rem 0;
  color: #00255a;
}

@media screen and (max-width: 768px) {
  .page-heading {
    font-size: 3rem;
  }
}
